In [3]:
import pandas as pd
df = pd.read_csv('./extracted/str_m6_o46_o47_etb_sym.3_zeo.csv')
df

,name,Di,Df,Dif,volume,ASA_A2,ASA_m2/cm3,ASA_m2/g,NASA_A2,NASA_m2/cm3,NASA_m2/g
0,str_m6_o46_o47_etb_sym.3,2.98799,2.22227,2.93911,1454.46,0.0,0.0,0.0,0.0,0.0,0.0